body ***REMOVED***
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code ***REMOVED***
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 ***REMOVED***
  font-family: "Playfair-display", sans-serif;
}


tr, th ***REMOVED***
  text-align: center;
}
td ***REMOVED***
  padding-top: 7px;
  padding-bottom: 7px;
}

td, th ***REMOVED***
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid grey;
}

table ***REMOVED***
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid grey;
  border-collapse: collapse;
  border-right: none;
}

tr ***REMOVED***
  border-bottom: 1px solid grey;
  
}

#overviewContent ***REMOVED***
  width: 90%;
  margin: 0 auto;
}

input, select ***REMOVED***
  margin-right: 10px;
  margin-left: 10px
}

.newCoursesContent ***REMOVED***
  width: 90%;
  margin: 0 auto;
}



.centerHeader ***REMOVED***
  text-align: center;
}
.courseDiv, .mainCategories, .vurderingDiv ***REMOVED***
  width: 100%;
  display: flex;
  max-width: 700px;
  margin:0 auto;
  
}

.mainCategories ***REMOVED***
  flex-direction: column;
}

.vurderingDiv ***REMOVED***
  flex-direction: column;
}

.courseIndexDiv ***REMOVED***
  width: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  
}
.courseInfoDiv ***REMOVED***
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.courseCloseDiv ***REMOVED***
  width: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

label ***REMOVED***
  margin-bottom: 5px;
}

.courseField ***REMOVED***
  margin-bottom: 15px;
}

.mainCategoriesDiv ***REMOVED***
  margin-bottom: 15px;
}


.mainCategoriesLabel ***REMOVED***
  font-size: larger;
  min-width: 100px;
}

.mainCategoriesInput ***REMOVED***
  margin-top: 5px;
  margin-left: 50px;
  width: 70%;
  padding:5px;
}


.courseLabel ***REMOVED***
  font-size: larger;
  min-width: 150px;
}

.fagtypeOptions, .vurderingsOptions, .semesterOptions  ***REMOVED***
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.semChoice ***REMOVED***
  margin-left:50px
}

.courseTextInput ***REMOVED***
  margin-top: 5px;
  margin-left: 50px;
  width: 70%;
  padding:5px;
}

.sliderDiv ***REMOVED***
  padding-left: 50px;
}

.buttonDiv ***REMOVED***
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.addCourseBtn ***REMOVED***
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.addCourseBtn:hover ***REMOVED***
  background-color: #EEE;
  cursor: pointer;
}

.addCourseBtn:active ***REMOVED***
  background-color: #DDD;
}


input.error:invalid***REMOVED***
  border: 1px solid red;
}

.inputNote ***REMOVED***
  color: grey;
  font-size: small;
  margin-left: 50px;
}

.reviewsDiv ***REMOVED***
  width: 80%;
  margin: 0 auto;
  max-width: 950px;
}

.review ***REMOVED***
  border: 1px solid grey;
  padding:15px;
  margin-bottom: 20px;
}

.reviewInfo ***REMOVED***
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-width: 300px;
}

.reviewInfo > p ***REMOVED***
  margin: 0;
  margin-bottom: 10px;
}

.starRatings ***REMOVED***
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-width: 300px;
}

.starRatings > p ***REMOVED***
  margin: 0;
}


.averageDiv > p***REMOVED***
  padding-left: 25px;
  margin-top: 10px;
  vertical-align: top;
 }
 
 .averageDiv ***REMOVED***
   display: inline-block;
   width:50%;
   vertical-align: top;
   min-width: 300px;
 
 }
 
 .equivalenceDiv ***REMOVED***
   display: inline-block;
   width:50%;
   vertical-align: top;
   min-width: 300px;
 
 }
 
 .averageDiv > h3 ***REMOVED***
   margin-bottom: 10px;
 }
 
 .reviewInfo  > p***REMOVED***
   line-height: 150%;
 }
 
 .starR > span ***REMOVED***
   font-size: 25px;
   line-height: "150%";
 }
 
 
 .starYellow ***REMOVED***
   color: #ffc700;    
 }
 
 .starGrey ***REMOVED***
   color:#ccc;
 }



.newReviewPopup ***REMOVED***
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.popupContent ***REMOVED***
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop ***REMOVED***
  from ***REMOVED***opacity: 0}
  to ***REMOVED***opacity: 1}
}

.close ***REMOVED***
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover ***REMOVED***
  color: #666;
}


.popupHeader ***REMOVED***
  margin: 0;
}



/* Star rating */
.rate ***REMOVED***
  float: left;
  height: 46px;
  padding: 0 10px;
  margin-left: 50px;
}
.rate:not(:checked) > input ***REMOVED***
  position:absolute;
  clip: rect(0,0,0,0);
}
.rate:not(:checked) > label ***REMOVED***
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before ***REMOVED***
  content: '★ ';
}
.rate > input:checked ~ label ***REMOVED***
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label ***REMOVED***
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label ***REMOVED***
  color: #c59b08;
}
